//COLORS
$primary: #003E0B;
$secondary: #EBEBEB;


//FONTS
$font-size-base: 1.125rem;

@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Noto+Sans:400,700&subset=latin-ext');

$serif: 'Cardo', serif;
$sans-serif: 'Noto Sans', sans-serif;

$font-family-sans-serif: $sans-serif;